################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FaceDetectionAPI/bin/Debug/net8.0
/FaceDetectionAPI/obj
/FaceDetectionAPI/Data/FaceLabelList.txt
/FaceDetectionAPI/Dataset
*.bmp
/FaceDetectionAPI/Data/FaceLabelList.txt
